body {
	font-family: 'poppins', sans-serif;
    color: #000;
    font-size: 16px;
	letter-spacing: 0.8px;
}
/* h1, h2, h3, h4, h5, h6 {
	font-weight: 200;
} */
.text-color{
    color: #F3525A;
}
ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
a {
	-webkit-transition: all 0.3s;
  	-moz-transition: all 0.3s;
  	transition: all 0.3s;
    text-decoration: none;
}
a:hover, a:focus, a:active, a:visited {
    text-decoration: none;
}

/* Buttons override */
.btn {
	text-transform: uppercase;
    font-weight: 600;
}
.btn-lg {
	padding: 15px 40px;
    font-size: 16px;
    line-height: none;
    border-radius: 4px;
}
.btn-red {
	background-color: #F3525A;
	color: #fff;
}
.btn-yellow {
	background-color: #fcd93b;
	color: #2a2a2a;
	opacity: 0.8;
}
.btn-yellow:hover {
	opacity: 1;
}
.btn-yellow.disabled:hover,
.btn-yellow[disabled]:hover {
    opacity: 0.65;
}


/* ------------------
	Navigation 
------------------ */
.side-menu {
	position: fixed;
	right: 30px;
	top: 50%;
    transform: translateY(-73px);
    z-index: 99;
}
.side-menu ul li {
    text-align: right;
    margin: 10px 0;
}
.side-menu ul li a span {
	display: inline-block;
}
.side-menu ul li a span.menu-title {
	color: #fff;
    position: relative;
    margin-right: 10px;
    text-transform: uppercase;
    font-size: 12px;
    background-color: #F3525A;
    padding: 3px 10px;
    font-weight: 600;
    border-radius: 3px;
    -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
    -moz-transition: -moz-transform 0.2s, opacity 0.2s;
    transition: transform 0.2s, opacity 0.2s;
    -webkit-transform-origin: 100% 50%;
    -moz-transform-origin: 100% 50%;
    -ms-transform-origin: 100% 50%;
    -o-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    opacity: 0;
}
.side-menu ul li a:hover span.menu-title {
    opacity: 1;
}
.side-menu ul li a span.dot {
    position: relative;
    background-color: #F3525A;
    border-radius: 2em;
    height: 10px;
    width: 10px;
    -webkit-transition: all 0.3s;
  	-moz-transition: all 0.3s;
  	transition: all 0.3s;
    animation: scaleAnimation 1s forwards;
    -webkit-animation-duration: 2s; 
    animation-duration: 2s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
    -webkit-animation-timing-function: ease; 
    animation-timing-function: ease; 
    animation-iteration-count:infinite; 
    -webkit-animation-iteration-count:infinite; 
}
.side-menu ul li a:hover span.dot {
	transform: scale(1.8);
}


.banner {
	background: #F3E9EA;
	min-height: 600px;
	padding: 5em;
	color: #000;
}
.hero-header h1 {
	margin: 1em 0 0 0;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 2.9rem;
    letter-spacing: 1px;
}
.hero-header h4 {
    letter-spacing: 1px;
    margin: 1em 0;
}
.hero-header .logo {
	max-width: 100%;
}
.hero-header .btn {
	margin-top: 3em;
}
.hero-header .rocket {
	max-width: 100%;
}
.me-row {
	padding: 30px 0;
}
.row-title {
	font-weight: 600;
    font-size: 34px;
}
.feature {
	padding: 20px;
	margin-top: 30px;
}
.feature span {
	font-size: 5em;
    color: #F3525A;
}

.speaker .feature {
	width: 31.333333%;
	-webkit-transition: all 0.3s;
  	-moz-transition: all 0.3s;
  	transition: all 0.3s;
  	margin-right: 20px;
  	border: 3px solid #f6f6f6;
    border-radius: 5px;
}
.speaker .feature:hover {
    box-shadow: 3px 3px 10px #ccc;
    transform: translateY(-10px);
}
.speaker-img {
    max-width: 50%;
    border: 1px solid #efefef;
    padding: 10px 10px;
}
ul.speaker-social li {
	list-style: none;
	display: inline-block;
	margin: 10px 5px;
}
ul.speaker-social li a {
	font-size: 0.2em;
	padding: 0 10px;
}
ul.speaker-social li a:hover {
	text-decoration: none;
}
a span.ti-facebook {
	color: #3b5998;
}
a span.ti-twitter-alt {
	color: #4099ff;
}

.tickets {
	background-color: #ecdcde;
}
.tickets ul{
    text-align: left;
    padding-left: 8rem;
    padding-right: 8rem;
}
.tickets ul li{
    padding-left: 20px;
}
.tickets ul li::marker{
    content: '\2713';
    color: #4def4a;
    font-weight: 700;
}
.tickets .plan-title{
    background: #ca9fa3;
    padding: 10px 15px;
    color: #fff;
    font-size: 25px;
    padding-top: 20px;
    text-transform: uppercase;
    font-weight: 600;
    height: 4rem;
    background: #654ea3;
    background: -webkit-linear-gradient(to right, #ca9fa3, #9e646a);
    background: linear-gradient(to right, #ca9fa3, #9e646a);
    border-bottom-left-radius: 12rem;
    border-bottom-right-radius: 12rem;
    box-shadow: 2px 8px 10px #69322C;
}
.plan-btn{
    position: absolute;
    bottom: -30px;
    left: 12vw;
}
.tickets .price {
	font-size: 4em;
	color: #F3525A;
    font-weight: 100;
}
.tickets .price sup {
	font-size: 0.4em;
}


.nav-tabs {
    margin-top: 20px;
}
.schedule .media {
	margin-top: 4em;
}
.schedule .media-object {
	max-width: 100px;
}
.schedule .media-heading {
	font-weight: 600;
    border-bottom: 2px solid #efefef;
    padding-bottom: 10px;
}
.schedule .media-body h5 {
	text-transform: uppercase;
	font-weight: 600;
}


.footer {
    background-color: #2a2a2a;
    margin-top: 30px;
    color: #fff;
}
.footer p {
    margin-bottom: 0;
}
.footer-credit {
    padding: 40px;
    background: #2a2a2a;
}
ul.footer-menu {
    text-align: right;
}
ul.footer-menu li {
    display: inline-block;
}
ul.footer-menu li a {
    font-size: 12px;
    color: #fcd93b;
    padding-right: 20px;
}
ul.footer-menu li a:hover {
    color: #F3525A;
}


.contact {
    background-color: #3a3a3a;
    color: #fff;
}
.contact h3 {
    margin-bottom: 30px;
}
.form-control {
    padding: 20px 15px;
    border: 3px solid #eee;
    background-color: #f9f9f9;
    box-shadow: none;
}
.help-block {
    font-size: 12px;
}
.form-control-feedback {
    top: 15px;
    right: 15px;
}
.side-menu a{
    color: transparent;
}

.animated { 
    -webkit-animation-duration: 5s; 
    animation-duration: 5s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
    -webkit-animation-timing-function: linear; 
    animation-timing-function: linear; 
    animation-iteration-count:infinite; 
    -webkit-animation-iteration-count:infinite; 
} 

@-webkit-keyframes bounce { 
    0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);} 
    40% {-webkit-transform: translateY(-30px);} 
    60% {-webkit-transform: translateY(-15px);} 
} 

@keyframes bounce { 
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);} 
    40% {transform: translateY(-30px);} 
    60% {transform: translateY(-15px);} 
} 

.bounce { 
    -webkit-animation-name: bounce; 
    animation-name: bounce; 
}

/* ========================================
    Custom Media Queries
======================================== */

/* Mobile */

@media (max-width: 767px) {
    .banner{
        padding: 2em;
    }
    .hero-header h1{
        line-height: 2.2rem;
    }
    .hidden-xs{
        display: none !important;
    }
    .speaker .feature {
        width: 90%;
        margin: auto;
        margin-top: 20px;
    }
    .footer-credit {
        text-align: center;
        padding: 40px 20px;
    }
    ul.footer-menu {
        text-align: center;
        margin-top: 30px;
    }
    .plan-card{
        width: 90%;
    }
    .plan-btn{
        left: 30vw;
    }
    .tickets ul{
        padding-left: 5rem;
        padding-right: 2rem;
    }
    .Socialfeed{
        margin-top: 20px;
        margin-left: 0% !important;
    }
}


/* iPad Portrait */

@media (min-width: 768px) and (max-width: 991px) {
    .hero-header {
        padding: 3em 1em 1em 1em;
        text-align: center;
    }
    .speaker .feature {
        width: 49%;
        margin-right: 7px;
    }
    ul.footer-menu {
        margin-top: 0;
    }
    .plan-btn{
        left: 9vw;
    }
    .tickets .plan-title{
        font-size: 22px;
    }
    .tickets ul{
        padding-left: 2rem;
        padding-right: 2rem;
    }
}


/* iPad Landscape */

@media (min-width: 992px) and (max-width: 1199px) {
    .speaker .feature {
        width: 49%;
        margin-right: 9px;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1340px;
    }
}
@keyframes scaleAnimation {
    0% {
      transform: scale(1);
    }
    50% {
        transform: scale(1.5);
    }
    100% {
      transform: scale(1);
    }
  }
  .btn-red:hover{
    background-color: #F3525A;
  }
  /* tabs */
  .w20 {
    width: 20%;
  }
  .inline-block {
    display: inline-block;
    margin-right: -4px;
  }
  .vertical-top {
    vertical-align: top;
  }
  .w80 {
    width: 80%;
  }
  .TabContent {
    display: none;
    padding:24px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, .16);
  }
  
  .TabContent.active {
    display: block;
    animation: fadeInUp .6s ease;
    animation-iteration-count: 1;
    animation-fill-mode: forwards
  }
  
  @-webkit-keyframes fadeInUp {
    from {
      opacity: 0;
      -webkit-transform: translate3d(0,25px,0);
      transform: translate3d(0,25px,0)
    }
  
    to {
      opacity: 1;
      -webkit-transform: none;
      transform: none
    }
  }
  
  @keyframes fadeInUp {
    from {
      opacity: 0;
      -webkit-transform: translate3d(0,25px,0);
      transform: translate3d(0,25px,0)
    }
  
    to {
      opacity: 1;
      -webkit-transform: none;
      transform: none
    }
  }
  
  .TabList ul {
    list-style-type: none;
    padding: 0;
    margin: 0
  }
  
  .TabList ul li a {
    text-decoration: none;
    width: 90%;
    font-size: 18px;
    padding: 12px 20px;
    text-align: center;
    display: block;
    border: 1px solid #232526;
    color: #fff;
    background: #232526;
  
  }
  
  .TabList ul li {
    margin-bottom: 5px
  }
  
  .TabList ul li a:hover {
    background: #F3525A;
    border: 1px solid #F3525A;
  }
  
  .TabList ul li.current a {
    text-decoration: none;
    border: 1px solid #F3525A;
    background: #F3525A;
    color: #fff
  }
  
  @media(max-width: 991px) {
    .TabsMainColRight {
      display:block;
      width: 100%;
      padding-top: 25px
    }
  
    .TabsMainColLeft {
      width: 100%;
      display: block
    }
  
    .TabList ul li a {
      width: 100%;
      display: block
    }
  }
  #tab-container {
    margin-top: 20px;
    margin-bottom: 20px;
}

#tab-container .tab-content-container .tab-content {
    display: none;
    padding: 20px 0 0;
}

#tab-container input {
    display: none;
}

#tab-container input:checked + label {
    color: #F3525A;
}

#tab-container label {
    display: block;
    font-weight: 600;
}

@media screen and (max-width: 480px) {
    #tab-container label {
        display: block;
    }
}

#tab-container .card-body {
    width: 100%;
    background: #fff;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
}

#tab-container .card-body .card-title {
    padding-top: 20px;
    text-transform: uppercase;
    font-weight: 700;
}

#tab-container .card-body .card-description {
    padding: 20px 10px;
}

.childtabs{
    background-color: #e8eef0;
    position: relative;
    padding: 10px;
}
.childtabs:hover{
    color: #F3525A;
    cursor: pointer;
}
.childtabs::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border-top: 3px solid #F3525A;
    border-right: 3px solid transparent;
    transition: width 0.8s ease, height 0.8s ease, border-color 0.8s ease;
}

.childtabs:hover::before {
    width: 100%;
    height: 100%; /* increase height to draw to the bottom */
    border-right-color: #F3525A; /* animate border color */
}

/* To draw the line from top-right to bottom-right */
.childtabs::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border-left: 3px solid #F3525A;
    border-bottom: 3px solid transparent;
    transition: width 0.8s ease, height 0.8s ease, border-color 0.8s ease;
}

.childtabs:hover::after {
    width: 100%;
    height: 100%; /* increase height to draw to the bottom */
    border-bottom-color: #F3525A; /* animate border color */
}
  
.plan-card{
    margin-top: 3rem;
    padding:0;
    padding-bottom: 5rem;
    box-shadow: 0 1px 3px rgba(180, 127, 132,0.12), 0 1px 2px rgba(180, 127, 132,0.24);
}
.Socialfeed {
    margin-left: 8.3%;
}
.Socialfeed ul span{
    font-size: 30px;
}